.room_page, .floor_page {
    .main_head:before {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        filter: blur(5px);
        @media all and (max-width: 960px) {
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            filter: blur(12px);
        }
    }
    .main_head__center {
        padding: 80px;
        margin: 0;
        @media all and (max-width: 960px) {
            padding: 40px 24px;
        }
        &--tr {
            display: flex;
            align-items: center;
            width: 100%;
            @media all and (max-width: 1220px) {
                flex-direction: column-reverse;
            }
        }
        &--lr {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 80px;
            border-right: 1px solid #fff;
            margin-right: 80px;
            width: 49.4%;
            @media all and (max-width: 1580px) {
                padding-right: 20px;
                margin-right: 20px;
            }
            @media all and (max-width: 1220px) {
                width: 100%;
                padding-right: 0;
                margin-right: 0;
                border: 0;
            }
        }
        &--rr {
            display: flex;
            width: 38%;
            align-items: center;
            justify-content: space-between;
            .corp {
                margin-left: 30px;
            }
            @media all and (max-width: 1220px) {
                align-items: flex-end;
                .corp {
                    margin: 0;
                }
                width: 100%;
                margin: 0;
                border-bottom: 1px solid #fff;
                padding-bottom: 12px;
                margin-bottom: 12px;
            }
        }
        &--backr {
            width: 20px;
            height: 48px;
            flex: 0 0 20px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='20' height='48' viewBox='0 0 20 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 0H16L0 24L16 48H20L4 24L20 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; 
            margin-right: 56px;
            @media all and (max-width: 1580px) {
                margin-right: 20px;
            }
            @media all and (max-width: 1220px) {
                display: none;
            }
        }
        &--floor {
            width: max-content;
            &.fl {
                max-width: 112px;
                width: 100%;
                .main_head__center--sl {
                    input[type="number"] {
                        max-width: 52px;
                        width: 100%;
                        background: none;
                        border: 0;
                        font-family: 'gm', serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 54px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        &--titr {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 12px;
            text-align: left;
            @media all and (max-width: 768px) {
                margin-bottom: 4px;
                font-size: 12px;
                font-weight: 300;
                font-family: 'gml', serif;
            }
        }
        &--sl {
            div {
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 54px;
                text-transform: uppercase;
                color: #FFFFFF;
                @media all and (max-width: 768px) {
                    font-size: 24px;
                }
            }
        }
        &--sort {
            display: flex;
            align-items: center;
            > div {
                margin-left: 25px;
                cursor: pointer;
                &.active {
                    svg rect {
                        fill: #fff !important;
                    }
                }
                @media all and (max-width: 768px) {
                    margin-left: 10px;
                }
            }
            .desc {
                @media all and (max-width: 768px) {
                    display: none;
                }
            }
            .mob {
                display: none;
                @media all and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .room_center {
        display: flex;
        max-width: 1210px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
        justify-content: space-between;
        margin-top: 120px;
        @media all and (max-width: 1024px) {
            flex-direction: column-reverse;
        }
        @media all and (max-width: 768px) {
            margin-top: 60px;
        }
        &__l {
            width: 50%;
            @media all and (max-width: 1024px) {
                width: 100%;
            }
            &--list {
                max-width: 410px;
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: left;
                @media all and (max-width: 1024px) {
                    max-width: 100%;
                }
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    @media all and (max-width: 768px) {
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }
                    > * {
                        width: 50%;
                    }
                    sup {
                        top: -5px;
                        font-size: 11px;
                    }
                }
            }
            &--tit {
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #FFFFFF;
                @media all and (max-width: 768px) {
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'gml', serif;
                }
            }
            &--txt {
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                text-align: right;
                color: #FFFFFF;
                @media all and (max-width: 768px) {
                    font-size: 14px;
                    font-weight: 500;
                    font-family: 'gmm', serif;
                }
            }
        }
        .main_blocks__block--btns {
            margin-top: 40px;
            @media all and (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
            a {
                margin-right: 20px;
                @media all and (max-width: 768px) {
                    margin-left: 20px;
                    margin-right: 20px;
                    width: max-content;
                }
            }
        }
        &__r {
            width: 50%;
            @media all and (max-width: 1024px) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }
    .buy_tabs .box {
        padding-top: 0;
    }
}