.room_page, .floor_page {
    .main_head:before {
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        filter: blur(5px);
        @media all and (max-width: 960px) {
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            filter: blur(12px);
        }
    }
    .main_head__center {
        padding: 80px;
        margin: 0;
        @media all and (max-width: 960px) {
            padding: 40px 24px;
        }
        &--tr {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @media all and (max-width: 1220px) {
                flex-direction: column-reverse;
            }
        }
        &--lr {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 80px;
            border-right: 1px solid #fff;
            margin-right: 80px;
            width: 30%;
            @media all and (max-width: 1580px) {
                padding-right: 20px;
                margin-right: 20px;
            }
            @media all and (max-width: 1220px) {
                width: 100%;
                padding-right: 0;
                margin-right: 0;
                border: 0;
            }
        }
        &--rr {
            display: flex;
            width: max-content;
            align-items: center;
            justify-content: space-between;
            .corp {
                margin-left: 30px;
            }
            @media all and (max-width: 1220px) {
                align-items: flex-end;
                .corp {
                    margin: 0;
                }
                width: 100%;
                margin: 0;
                border-bottom: 1px solid #fff;
                padding-bottom: 12px;
                margin-bottom: 12px;
            }
        }
        &--backr {
            width: 20px;
            height: 48px;
            flex: 0 0 20px;
            cursor: pointer;
            background: url("data:image/svg+xml,%3Csvg width='20' height='48' viewBox='0 0 20 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 0H16L0 24L16 48H20L4 24L20 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat; 
            margin-right: 56px;
            @media all and (max-width: 1580px) {
                margin-right: 20px;
            }
            @media all and (max-width: 1220px) {
                display: none;
            }
        }
        &--floor {
            width: max-content;
            &.fl {
                max-width: 112px;
                width: 100%;
                .main_head__center--sl {
                    input[type="number"] {
                        max-width: 52px;
                        width: 100%;
                        background: none;
                        border: 0;
                        font-family: 'gm', serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 54px;
                        color: #FFFFFF;
                    }
                }
            }
            &.wind {
                display: none !important;
            }
        }
        &--titr {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #FFFFFF;
            margin-bottom: 12px;
            text-align: left;
            @media all and (max-width: 768px) {
                margin-bottom: 4px;
                font-size: 12px;
                font-weight: 300;
                font-family: 'gml', serif;
            }
        }
        &--sl {
            div {
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 54px;
                text-transform: uppercase;
                color: #FFFFFF;
                @media all and (max-width: 768px) {
                    font-size: 24px;
                }
            }
        }
        &--sort {
            display: flex;
            align-items: center;
            > div {
                margin-left: 25px;
                cursor: pointer;
                &.active {
                    svg rect {
                        fill: #fff !important;
                    }
                }
                position: relative;
                &:nth-child(1):before {
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: 50%;
                    margin-top: -3px;
                    width: 22px;
                    height: 27px;
                    background: url("data:image/svg+xml,%3Csvg width='23' height='26' viewBox='0 0 23 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M6.85453e-06 20.5839L22.09 0.961694L10.9262 25.5456L6.85453e-06 20.5839Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }
                &:nth-child(2):before {
                    content: '';
                    position: absolute;
                    right: -14px;
                    top: 50%;
                    margin-top: -15px;
                    width: 9px;
                    height: 27px;
                    background: url("data:image/svg+xml,%3Csvg width='9' height='27' viewBox='0 0 9 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M0 27L9 0V27H0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }
                &:nth-child(3):before {
                    content: '';
                    position: absolute;
                    right: -54px;
                    top: 50%;
                    margin-top: -50px;
                    width: 44px;
                    height: 100px;
                    background: url("data:image/svg+xml,%3Csvg width='44' height='100' viewBox='0 0 44 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.5' x='17' width='1' height='100' fill='white'/%3E%3Crect opacity='0.5' x='43' width='1' height='100' fill='white'/%3E%3Cpath opacity='0.5' d='M23.72 15.2039C23.72 14.5532 23.8053 14.0785 23.976 13.7799L25.496 13.7799C25.3253 14.1212 25.24 14.4999 25.24 14.9159C25.24 15.3532 25.4 15.7212 25.72 16.0199C26.04 16.3292 26.5627 16.6385 27.288 16.9479L34.856 13.5079L34.856 15.4279L29.32 17.7959L34.856 20.0839L34.856 21.9559L26.152 18.1959C24.5307 17.4919 23.72 16.4945 23.72 15.2039ZM33.336 28.7405L33.336 25.7805L32.2 25.7485C31.0693 25.7378 30.0987 25.6205 29.288 25.3965C27.7947 25.0232 27.0213 24.1218 26.968 22.6925C26.968 22.4685 26.9893 22.2872 27.032 22.1485L28.52 22.1485C28.488 22.2658 28.472 22.3832 28.472 22.5005C28.472 23.0658 28.76 23.4658 29.336 23.7005C29.9227 23.9352 30.9093 24.0632 32.296 24.0845L34.856 24.1325L34.856 30.4685L27 30.4685L27 28.7405L33.336 28.7405ZM26.872 33.7191C26.872 33.3991 26.9787 33.1271 27.192 32.9031C27.416 32.6898 27.688 32.5831 28.008 32.5831C28.3173 32.5831 28.5787 32.6898 28.792 32.9031C29.016 33.1271 29.128 33.3991 29.128 33.7191C29.128 34.0178 29.016 34.2791 28.792 34.5031C28.5787 34.7271 28.3173 34.8391 28.008 34.8391C27.688 34.8391 27.416 34.7271 27.192 34.5031C26.9787 34.2898 26.872 34.0285 26.872 33.7191ZM26.792 44.4194C26.792 42.8514 27.112 41.5447 27.752 40.4994L29.48 40.4994C29.1707 40.99 28.92 41.566 28.728 42.2274C28.536 42.8994 28.44 43.5447 28.44 44.1634C28.44 45.1127 28.616 45.8594 28.968 46.4034C29.3307 46.958 29.8107 47.2354 30.408 47.2354C30.9307 47.2354 31.352 46.9847 31.672 46.4834C31.992 45.982 32.152 45.3207 32.152 44.4994L32.152 43.1074L33.768 43.1074L33.768 44.7074C33.768 45.39 33.9013 45.918 34.168 46.2914C34.4347 46.6647 34.8027 46.8514 35.272 46.8514C35.7413 46.8514 36.104 46.6327 36.36 46.1954C36.6267 45.7687 36.76 45.182 36.76 44.4354C36.76 43.2407 36.488 42.0887 35.944 40.9794L37.56 40.9794C38.1253 42.078 38.408 43.262 38.408 44.5314C38.408 45.7474 38.1307 46.7287 37.576 47.4754C37.0213 48.222 36.2853 48.5954 35.368 48.5954C34.76 48.5954 34.2587 48.414 33.864 48.0514C33.4693 47.6887 33.1973 47.2887 33.048 46.8514C32.8773 47.438 32.5467 47.95 32.056 48.3874C31.5867 48.8247 30.9893 49.0434 30.264 49.0434C29.2613 49.0434 28.4293 48.6274 27.768 47.7954C27.1173 46.974 26.792 45.8487 26.792 44.4194ZM28.312 54.8982C28.312 55.6236 28.5627 56.2369 29.064 56.7382C29.5547 57.2289 30.1787 57.4742 30.936 57.4742C31.6827 57.4742 32.3013 57.2289 32.792 56.7382C33.2933 56.2369 33.544 55.6236 33.544 54.8982C33.544 54.1622 33.2933 53.5436 32.792 53.0422C32.3013 52.5516 31.6827 52.3062 30.936 52.3062C30.1787 52.3062 29.5547 52.5516 29.064 53.0422C28.5627 53.5436 28.312 54.1622 28.312 54.8982ZM26.792 54.8982C26.792 53.6396 27.192 52.6049 27.992 51.7942C28.792 50.9836 29.7733 50.5782 30.936 50.5782C32.088 50.5782 33.064 50.9836 33.864 51.7942C34.664 52.6049 35.064 53.6396 35.064 54.8982C35.064 56.1356 34.664 57.1649 33.864 57.9862C33.064 58.7969 32.088 59.2023 30.936 59.2023C29.784 59.2023 28.8027 58.7969 27.992 57.9862C27.192 57.1649 26.792 56.1356 26.792 54.8982ZM35.064 65.635C35.064 66.7443 34.664 67.6563 33.864 68.371C33.0747 69.0857 32.0933 69.443 30.92 69.443C29.7573 69.443 28.7813 69.0857 27.992 68.371C27.192 67.6563 26.792 66.7443 26.792 65.635C26.792 64.4297 27.2187 63.4963 28.072 62.835L23.8 62.835L23.8 61.107L34.856 61.107L34.856 62.835L33.784 62.835C34.6373 63.4963 35.064 64.4297 35.064 65.635ZM33.544 65.171C33.544 64.6697 33.4107 64.211 33.144 63.795C32.888 63.379 32.552 63.059 32.136 62.835L29.704 62.835C29.2987 63.059 28.9627 63.379 28.696 63.795C28.44 64.2217 28.312 64.6803 28.312 65.171C28.312 65.8963 28.5627 66.499 29.064 66.979C29.576 67.459 30.1947 67.699 30.92 67.699C31.656 67.699 32.2747 67.459 32.776 66.979C33.288 66.499 33.544 65.8963 33.544 65.171ZM27 73.0694L27 71.3414L34.856 71.3414L34.856 77.4214L33.336 77.4214L33.336 73.0694L27 73.0694ZM30.936 78.3439C32.12 78.3439 33.1013 78.7172 33.88 79.4639C34.6693 80.2212 35.064 81.1919 35.064 82.3759C35.064 83.1865 34.8507 83.8745 34.424 84.4399C33.6347 85.5492 32.4507 86.1039 30.872 86.1039L30.424 86.1039L30.424 80.0879C29.7627 80.1945 29.2453 80.5092 28.872 81.0319C28.4987 81.5652 28.312 82.2372 28.312 83.0479C28.312 83.9439 28.5467 84.7865 29.016 85.5759L27.56 85.5759C27.048 84.8505 26.792 83.8852 26.792 82.6799C26.792 81.4745 27.176 80.4452 27.944 79.5919C28.712 78.7599 29.7093 78.3439 30.936 78.3439ZM31.736 80.1039L31.736 84.3599C32.2267 84.3385 32.6587 84.1519 33.032 83.7999C33.416 83.4372 33.608 82.9359 33.608 82.2959C33.608 81.6879 33.4267 81.1812 33.064 80.7759C32.712 80.3812 32.2693 80.1572 31.736 80.1039Z' fill='white'/%3E%3Cpath opacity='0.5' d='M-1.52588e-05 63V36H8.99998V63H-1.52588e-05Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                    @media all and (max-width: 768px) {
                        display: none;
                    }
                }
                @media all and (max-width: 768px) {
                    margin-left: 10px;
                }
            }
            .desc {
                @media all and (max-width: 768px) {
                    display: none;
                }
            }
            .mob {
                display: none;
                @media all and (max-width: 768px) {
                    display: block;
                }
            }
        }
    }
    .room_center {
        display: flex;
        max-width: 1210px;
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
        justify-content: space-between;
        margin-top: 120px;
        & + .hover_bl {
            display: flex !important;
            opacity: 1 !important;
            visibility: visible !important;
        }
        @media all and (min-width: 1366px) {
            &__r img {
                max-width: 433px;
            }
        }
        @media all and (max-width: 1024px) {
            flex-direction: column-reverse;
        }
        @media all and (max-width: 768px) {
            margin-top: 60px;
        }
        &__l {
            width: 50%;
            @media all and (max-width: 1024px) {
                width: 100%;
            }
            &--list {
                max-width: 410px;
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: left;
                @media all and (max-width: 1024px) {
                    max-width: 100%;
                }
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    @media all and (max-width: 768px) {
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }
                    > * {
                        width: 50%;
                    }
                    sup {
                        top: -5px;
                        font-size: 11px;
                    }
                }
            }
            &--tit {
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #FFFFFF;
                @media all and (max-width: 768px) {
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'gml', serif;
                }
            }
            &--txt {
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                text-align: right;
                color: #FFFFFF;
                @media all and (max-width: 768px) {
                    font-size: 14px;
                    font-weight: 500;
                    font-family: 'gmm', serif;
                }
            }
        }
        .main_blocks__block--btns {
            margin-top: 40px;
            @media all and (max-width: 768px) {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            }
            a {
                margin-right: 20px;
                @media all and (max-width: 768px) {
                    margin-left: 20px;
                    margin-right: 20px;
                    width: max-content;
                }
            }
        }
        &__r {
            width: 50%;
            @media all and (max-width: 1024px) {
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }
    .buy_tabs .box {
        padding-top: 0;
    }
}
.room_page {
    .main_head__center--sort > div:nth-child(3):before, .main_head__center--sort > div:nth-child(1):before,  .main_head__center--sort > div:nth-child(2):before {
        display: none;
    }
}