.views_changer .value {
    @media all and (min-width: 1025px) {
        max-width: 320px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.table_info--no_result {
    color: #fff;
    padding: 15px;
}
.floor_center--item_wrap {
    display: none;
}
.fl_tit {
    display: none;
}
.floor_page {
    .footer {
        padding-top: 0;
    }
    .room_blocks__link {
        margin-bottom: 100px;
    }
    .room_blocks__sl {
        display: none;
        padding-top: 85px;
        @media all and (max-width: 1023px) {
            display: block;
        }
    }
    .main_head__center {
        display: block;
        @media all and (max-width: 1023px) {
            display: none !important;
        }
    }
    .main_func__l {
        margin-top: 40px;
    }
    .main_func__l {
        display: none;
        @media all and (max-width: 1023px) {
            display: block;
        }
    }
    .slick-prev {
        width: 12px;
        height: 18px;
        left: 34px;
        background: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.666626 8.86721L1.48696 8.09163L9.69215 0.333984L12.3331 0.333984L3.30745 8.86738L12.333 17.4006H9.69197L0.666626 8.86721Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        &:before { 
            display: none;
        }
        @media all and (max-width: 680px) {
            top: 165px;
            left: 15px
        }
    }
    .slick-next {
        width: 12px;
        height: 18px;
        right: 34px;
        background: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.3333 8.86721L11.5129 8.09163L3.30773 0.333984H0.66673L9.69242 8.86738L0.666901 17.4006H3.3079L12.3333 8.86721Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
        &:before { 
            display: none;
        }
        @media all and (max-width: 680px) {
            top: 165px;
            right: 15px;
        }
    }
    .main_head__center--sl {
        position: relative;
        .prev {
            position: absolute;
            left: -20px;
            top: 50%;
            width: 10px;
            cursor: pointer;
            height: 24px;
            margin-top: -6px;
            background: url("data:image/svg+xml,%3Csvg width='10' height='24' viewBox='0 0 10 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0H8L0 12L8 24H10L2 12L10 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            @media all and (max-width: 1310px) {
                display: none;
            }
        }
        .next {
            position: absolute;
            right: -20px;
            top: 50%;
            cursor: pointer;
            width: 10px;
            height: 24px;
            margin-top: -6px;
            background: url("data:image/svg+xml,%3Csvg width='10' height='24' viewBox='0 0 10 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H2L10 12L2 24H0L8 12L0 0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            @media all and (max-width: 1310px) {
                display: none;
            }
        }
    }
    .block_kompas {
        position: absolute;
        right: 80px;
        bottom: 120px;
        width: 186px;
        height: 204px;
        transition: all .3s ease-out;
    }
    @media all and (max-width: 1780px) {
        .main_head__center {
            padding-bottom: 230px;
        }
        .block_kompas {
            bottom: 30px;
        }
    }
}
.floor_center {
    margin-top: 120px;
    position: relative;

    &--item_wrap {
        // display: none;
    }
    // display: none;
    @media all and (max-width: 1023px) {
        display: none;
    }
    &.active {
        display: block;
    }
    .act_vis, .act_vis1, .act_vis2, .act_vis3 {
        &.active {.value {
            color: #957B61;
        }
            
    }
    }
    .apart_popup {
        position: absolute;
        z-index: 3;
        pointer-events: none;
    }
    &__svg {
        max-width: 1460px;
        width: 100%;    
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 18em;
        margin-bottom: 18em;
        svg {
            *.active {
                transition: all .3s ease-out;
                cursor: pointer;
                &:hover {
                    fill: #fff !important;
                    opacity: .5 !important;
                }
            }
            *:not(.active):not(.image) {
                fill: none;
            }
        }
    }
    &.around1 {
        .floor_center__svg:before {
            pointer-events: none;
            content: '';
            position: absolute;
            top: -18em;
            right: 0;
            bottom: -18em;
            left: 0;
            background: url(../img/img27.png) center center / contain no-repeat;
            z-index: 0;
        }
    }
    &.around2 {
        .floor_center__svg:before {
            pointer-events: none;
            content: '';
            position: absolute;
            top: -18em;
            right: 0;
            bottom: -18em;
            left: 0;
            background: url(../img/img26.png) center center / contain no-repeat;
            z-index: 0;
        }
    }
    &.around3 {
        .floor_center__svg:before {
            pointer-events: none;
            content: '';
            position: absolute;
            top: -18em;
            right: 0;
            bottom: -18em;
            left: 0;
            background: url(../img/img28.png) center center / contain no-repeat;
            z-index: 0;
        }
    }
    .apart_popup .value {
        height: 0;
        font-family: 'gmm', serif;
        width: 10em;
        text-align: center;
        top: 0;
        left: 0;
        line-height: 1em;
        z-index: 10;
        font-size: vw(18);
        margin: -0.5em -5em;
        font-weight: 800;
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
        color: #fff;
        sup {
            top: -8px;
            font-size: 11px;
        }
    }
    .main_floor {
        position: absolute;
        top: -2px;
        left: 2px;
        right: 0;
        bottom: 0;
    }
}
.hover_bl {
    background: #000000;
    max-width: 1460px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 40px 90px;    
    left: 0;
    right: 0;
    z-index: 10;
    bottom: -7em;
    position: absolute;
    &.hidden:not(.active) {
        display: none;
    }
    // opacity: 0;
    // visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-out;
    sup {
        top: -8px;
        font-size: 11px;
    }
    @media all and (max-width: 1400px) {
        padding: 20px 40px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    &__block {
        width: 33%;
        text-align: center;
        &:not(:last-child) {
            border-right: 1px solid #fff;
        }   
        &--title {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 13px;
            color: #FFFFFF;
        }
        &--text {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            text-transform: uppercase;
            color: #957B61;
            @media all and (max-width: 1400px) {
                font-size: 28px;
            }
        }
    }
}
.new_tabs {
    .floor_center__svg {
        margin-top: 0;
        margin-bottom: 0;
        svg {
            g {
                path {
                    pointer-events: none;
                    &.active {
                        fill: #fff !important;
                        opacity: .5 !important;
                    }
                }
            }
        }
        img {
            filter: contrast(0.5);
        }
        .main_floor {
            top: 0;
            left: 0;
        }
    }
    .floor_center {
        margin-top: 20px;
    }
}
.boxis {
    .plans-scheme {
        position: relative;
        width: calc(vw(744) * 2);
        margin: 0 auto;
        height: vw(560);
    }
    .scheme-section {
        position: absolute;
        width: 100%;
        height: calc(100% - vw(240));
        left: 0;
    }
    .house-scheme {
        position: relative
    }
    .house-scheme .house {
        border: 3px solid #666666;
        -webkit-transition: opacity .4s ease;
        -moz-transition: opacity .4s ease;
        -ms-transition: opacity .4s ease;
        -o-transition: opacity .4s ease;
        transition: opacity .4s ease
    }
    
    .house-scheme .house.active {
        background: #666
    }
    
    .house-scheme .house:hover {
        opacity: .8
    }
    
    .house-scheme .house-1 {
        width: vw(192);
        height: vw(521.6);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: vw(240);
        top: vw(-48);
        border: 3px solid #666666;
        transform: rotate(45deg)
    }
    
    .house-scheme .house-2 {
        width: vw(192);
        height: vw(521.6);
        position: absolute;
        left: vw(780);
        top: 0
    }
    
    .house-scheme .house-3 {
        width: vw(192);
        height: vw(521.6);
        position: absolute;
        right: vw(190);
        top: 0
    }
    
    .house-scheme .house-ico-1 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='162' viewBox='0 0 160 162' fill='none'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M31.9668 124H36.9428C39.3908 124 41.0068 122.864 41.0068 120.944C41.0068 119.376 39.9348 118.608 38.6068 118.208C39.4868 117.824 40.3828 117.072 40.3828 115.616C40.3828 114.864 40.1268 114.272 39.6628 113.792C39.0388 113.152 38.0148 112.8 36.7348 112.8H31.9668V124ZM33.2148 122.864V118.912H36.7508C38.7028 118.912 39.7268 119.616 39.7268 120.832C39.7268 122.112 38.6708 122.864 36.9748 122.864H33.2148ZM33.2148 117.792V113.936H36.6228C38.2228 113.936 39.1028 114.656 39.1028 115.76C39.1028 117.104 38.0468 117.792 36.5268 117.792H33.2148ZM43.3057 124H44.5377V120.384H49.3057V124H50.5377V115.728H49.3057V119.296H44.5377V115.728H43.3057V124ZM54.5701 126.608C55.8181 126.608 56.6181 125.984 57.3221 124.272L60.7941 115.728H59.4821L56.8261 122.624L53.8181 115.728H52.4581L56.2181 123.968C55.7221 125.136 55.2581 125.52 54.5221 125.52C53.9941 125.52 53.6261 125.424 53.2261 125.216L52.8101 126.192C53.3701 126.464 53.8821 126.608 54.5701 126.608ZM64.7432 124H65.9912V116.816H68.9512V115.728H61.7832V116.816H64.7432V124ZM70.7432 126.56H71.9752V122.416C72.6152 123.344 73.6072 124.176 75.1432 124.176C77.1432 124.176 79.0952 122.576 79.0952 119.872C79.0952 117.12 77.1272 115.552 75.1432 115.552C73.6232 115.552 72.6472 116.4 71.9752 117.392V115.728H70.7432V126.56ZM74.9192 123.072C73.3832 123.072 71.9272 121.792 71.9272 119.872C71.9272 117.952 73.3832 116.656 74.9192 116.656C76.4872 116.656 77.8312 117.904 77.8312 119.856C77.8312 121.888 76.5192 123.072 74.9192 123.072ZM81.3682 124H82.6002V120.384H87.3682V124H88.6002V115.728H87.3682V119.296H82.6002V115.728H81.3682V124ZM94.9686 124.192C96.5366 124.192 97.5446 123.568 98.3766 122.64L97.6086 121.952C96.9366 122.656 96.1366 123.12 95.0006 123.12C93.5446 123.12 92.2646 122.112 92.0886 120.368H98.6486C98.6646 120.176 98.6646 120.048 98.6646 119.936C98.6646 117.504 97.2566 115.552 94.8086 115.552C92.5206 115.552 90.8406 117.472 90.8406 119.872C90.8406 122.448 92.6966 124.192 94.9686 124.192ZM92.0886 119.376C92.2646 117.776 93.3526 116.592 94.7766 116.592C96.4086 116.592 97.2726 117.872 97.4166 119.376H92.0886ZM100.821 124H102.053V120.384H106.821V124H108.053V115.728H106.821V119.296H102.053V115.728H100.821V124ZM110.806 124H111.99L116.918 117.456V124H118.15V115.728H116.95L112.038 122.272V115.728H110.806V124ZM120.899 124H122.083L127.011 117.456V124H128.243V115.728H127.043L122.131 122.272V115.728H120.899V124ZM124.531 114.544C125.731 114.544 126.595 113.728 126.787 112.592L125.939 112.416C125.747 113.104 125.315 113.536 124.531 113.536C123.747 113.536 123.315 113.104 123.123 112.416L122.275 112.592C122.467 113.728 123.331 114.544 124.531 114.544ZM60.1834 148.064H61.1914L61.4154 146H68.1034V148.064H69.1274L69.3194 144.912H68.0714V137.728H62.1834V139.168C62.1834 141.952 61.7514 143.68 61.0794 144.912H60.1834V148.064ZM62.3914 144.912C62.9674 143.84 63.3674 142.016 63.3674 139.968V138.816H66.8394V144.912H62.3914ZM71.0088 146H75.1528C76.9768 146 78.1608 145.136 78.1608 143.744C78.1608 142.576 77.3288 141.968 76.3368 141.696C77.0248 141.408 77.7128 140.88 77.7128 139.792C77.7128 138.544 76.6568 137.728 75.0088 137.728H71.0088V146ZM72.2408 144.944V142.272H74.8328C76.1768 142.272 76.8968 142.752 76.8968 143.552C76.8968 144.416 76.1768 144.944 74.9928 144.944H72.2408ZM72.2408 141.28V138.784H74.8168C75.8888 138.784 76.4648 139.264 76.4648 139.952C76.4648 140.816 75.7768 141.28 74.7848 141.28H72.2408ZM84.1598 146.192C86.6558 146.192 88.4958 144.208 88.4958 141.872C88.4958 139.504 86.6718 137.552 84.1918 137.552C81.6958 137.552 79.8718 139.536 79.8718 141.872C79.8718 144.24 81.6798 146.192 84.1598 146.192ZM84.1918 145.088C82.4478 145.088 81.1358 143.648 81.1358 141.872C81.1358 140.096 82.3678 138.64 84.1598 138.64C85.9038 138.64 87.2318 140.096 87.2318 141.872C87.2318 143.648 85.9838 145.088 84.1918 145.088ZM90.7276 148.56H91.9596V144.416C92.5996 145.344 93.5916 146.176 95.1276 146.176C97.1276 146.176 99.0796 144.576 99.0796 141.872C99.0796 139.12 97.1116 137.552 95.1276 137.552C93.6076 137.552 92.6316 138.4 91.9596 139.392V137.728H90.7276V148.56ZM94.9036 145.072C93.3676 145.072 91.9116 143.792 91.9116 141.872C91.9116 139.952 93.3676 138.656 94.9036 138.656C96.4716 138.656 97.8156 139.904 97.8156 141.856C97.8156 143.888 96.5036 145.072 94.9036 145.072Z' fill='%23999999'/%3E%3Ccircle cx='80' cy='40' r='40' fill='%23CFCFCF'/%3E%3Cpath d='M67.5494 52.46V29.308C67.5494 27.8467 68.7341 26.662 70.1955 26.662H89.3436C90.805 26.662 91.9896 27.8467 91.9896 29.308V52.46' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M73.7322 46.3499C73.7322 45.6393 74.3082 45.0632 75.0189 45.0632H84.5234C85.234 45.0632 85.8101 45.6393 85.8101 46.3499C85.8101 47.0605 85.234 47.6366 84.5234 47.6366H75.0189C74.3082 47.6366 73.7322 47.0605 73.7322 46.3499Z' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M75.3258 25.5511V44.4368' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M84.2131 25.5511V44.4368' stroke='black' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='27.9668' y='0' width='104.277' height='156.56' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        width: vw(256);
        height: vw(259.2);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: vw(448);
        top: vw(256)
    }
    
    .house-scheme .house-ico-2 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='158' viewBox='0 0 82 158' fill='none'%3E%3Cpath d='M7.98031 127.496H9.05231L9.27631 125H18.3643V127.496H19.4203L19.6123 123.848H18.1563V113.8H10.8283V115.752C10.8283 119.384 10.2043 122.136 9.13231 123.848H7.98031V127.496ZM10.5563 123.848C11.4843 122.312 12.0443 119.304 12.0443 116.408V114.952H16.8923V123.848H10.5563ZM24.8748 125.192C26.4428 125.192 27.4508 124.568 28.2828 123.64L27.5148 122.952C26.8428 123.656 26.0428 124.12 24.9068 124.12C23.4508 124.12 22.1708 123.112 21.9948 121.368H28.5548C28.5708 121.176 28.5708 121.048 28.5708 120.936C28.5708 118.504 27.1628 116.552 24.7148 116.552C22.4268 116.552 20.7468 118.472 20.7468 120.872C20.7468 123.448 22.6028 125.192 24.8748 125.192ZM21.9948 120.376C22.1708 118.776 23.2588 117.592 24.6828 117.592C26.3148 117.592 27.1788 118.872 27.3228 120.376H21.9948ZM32.7276 125H33.9756V117.816H36.9356V116.728H29.7676V117.816H32.7276V125ZM42.4556 125.192C44.0076 125.192 44.9996 124.52 45.8316 123.592L45.0156 122.84C44.3596 123.544 43.5756 124.088 42.5196 124.088C40.7916 124.088 39.4796 122.664 39.4796 120.872C39.4796 119.064 40.7596 117.64 42.4396 117.64C43.5596 117.64 44.3276 118.168 44.9836 118.856L45.7676 118.024C44.9996 117.208 44.0236 116.552 42.4556 116.552C40.0396 116.552 38.2156 118.536 38.2156 120.872C38.2156 123.224 40.0396 125.192 42.4556 125.192ZM47.8682 125H49.1002V123L50.8442 121.208L53.7882 125H55.2442L51.6922 120.312L55.1482 116.728H53.6282L49.1002 121.496V116.728H47.8682V125ZM59.4103 125.176C60.8663 125.176 61.8103 124.504 62.3863 123.768V125H63.6023V119.944C63.6023 118.888 63.3143 118.088 62.7383 117.512C62.1463 116.92 61.2343 116.6 60.0663 116.6C58.8503 116.6 57.9703 116.888 57.0583 117.304L57.4263 118.312C58.1943 117.96 58.9623 117.72 59.9383 117.72C61.4903 117.72 62.3863 118.488 62.3863 119.96V120.216C61.6503 120.008 60.9143 119.864 59.8583 119.864C57.7623 119.864 56.3223 120.792 56.3223 122.568C56.3223 124.296 57.8583 125.176 59.4103 125.176ZM59.6503 124.184C58.5303 124.184 57.5703 123.576 57.5703 122.536C57.5703 121.512 58.4503 120.84 59.9863 120.84C60.9943 120.84 61.7943 121.016 62.4023 121.192V121.96C62.4023 123.272 61.1703 124.184 59.6503 124.184ZM65.4759 125H66.9959C67.7639 124.008 68.5159 123 69.2839 121.992H71.5719V125H72.8039V116.728H68.9159C66.9479 116.728 65.7959 117.784 65.7959 119.304C65.7959 120.648 66.7719 121.512 68.0039 121.8L65.4759 125ZM69.0119 120.952C67.8599 120.952 67.0279 120.36 67.0279 119.352C67.0279 118.408 67.7479 117.816 68.9799 117.816H71.5719V120.952H69.0119ZM1.38381 150H2.61581V142.816H7.31981V150H8.55181V141.728H1.38381V150ZM10.9057 150.128C12.4737 150.128 13.6417 149.456 13.6417 143.008V142.816H17.0977V150H18.3297V141.728H12.4737V142.416C12.4737 148.624 11.6417 149.056 10.6497 149.056C10.5057 149.056 10.2177 148.992 10.0577 148.944L9.91369 150C10.1697 150.064 10.6337 150.128 10.9057 150.128ZM24.8629 150.192C27.3589 150.192 29.1989 148.208 29.1989 145.872C29.1989 143.504 27.3749 141.552 24.8949 141.552C22.3989 141.552 20.5749 143.536 20.5749 145.872C20.5749 148.24 22.3829 150.192 24.8629 150.192ZM24.8949 149.088C23.1509 149.088 21.8389 147.648 21.8389 145.872C21.8389 144.096 23.0709 142.64 24.8629 142.64C26.6069 142.64 27.9349 144.096 27.9349 145.872C27.9349 147.648 26.6869 149.088 24.8949 149.088ZM43.2387 152.064H44.2627L44.4547 148.912H43.2067V141.728H41.9587V148.912H37.9267V141.728H36.6947V148.912H32.6627V141.728H31.4307V150H43.2387V152.064ZM48.6134 150.176C50.0694 150.176 51.0134 149.504 51.5894 148.768V150H52.8054V144.944C52.8054 143.888 52.5174 143.088 51.9414 142.512C51.3494 141.92 50.4374 141.6 49.2694 141.6C48.0534 141.6 47.1734 141.888 46.2614 142.304L46.6294 143.312C47.3974 142.96 48.1654 142.72 49.1414 142.72C50.6934 142.72 51.5894 143.488 51.5894 144.96V145.216C50.8534 145.008 50.1174 144.864 49.0614 144.864C46.9654 144.864 45.5254 145.792 45.5254 147.568C45.5254 149.296 47.0614 150.176 48.6134 150.176ZM48.8534 149.184C47.7334 149.184 46.7734 148.576 46.7734 147.536C46.7734 146.512 47.6534 145.84 49.1894 145.84C50.1974 145.84 50.9974 146.016 51.6054 146.192V146.96C51.6054 148.272 50.3734 149.184 48.8534 149.184ZM54.1991 152.064H55.2071L55.4311 150H62.1191V152.064H63.1431L63.3351 148.912H62.0871V141.728H56.1991V143.168C56.1991 145.952 55.7671 147.68 55.0951 148.912H54.1991V152.064ZM56.4071 148.912C56.9831 147.84 57.3831 146.016 57.3831 143.968V142.816H60.8551V148.912H56.4071ZM65.0244 150H66.2564V148L68.0004 146.208L70.9444 150H72.4004L68.8484 145.312L72.3044 141.728H70.7844L66.2564 146.496V141.728H65.0244V150ZM76.5666 150.176C78.0226 150.176 78.9666 149.504 79.5426 148.768V150H80.7586V144.944C80.7586 143.888 80.4706 143.088 79.8946 142.512C79.3026 141.92 78.3906 141.6 77.2226 141.6C76.0066 141.6 75.1266 141.888 74.2146 142.304L74.5826 143.312C75.3506 142.96 76.1186 142.72 77.0946 142.72C78.6466 142.72 79.5426 143.488 79.5426 144.96V145.216C78.8066 145.008 78.0706 144.864 77.0146 144.864C74.9186 144.864 73.4786 145.792 73.4786 147.568C73.4786 149.296 75.0146 150.176 76.5666 150.176ZM76.8066 149.184C75.6866 149.184 74.7266 148.576 74.7266 147.536C74.7266 146.512 75.6066 145.84 77.1426 145.84C78.1506 145.84 78.9506 146.016 79.5586 146.192V146.96C79.5586 148.272 78.3266 149.184 76.8066 149.184Z' fill='%23999999'/%3E%3Ccircle cx='40' cy='40' r='40' fill='%23CFCFCF'/%3E%3Cmask id='path-3-inside-1' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M49.9505 35.5699C48.8717 34.8352 48.174 33.5211 48.174 32.2159C48.174 27.9292 44.6989 24.4541 40.4122 24.4541C36.1255 24.4541 32.6505 27.9292 32.6505 32.2159C32.6505 33.4216 31.944 34.6179 30.8907 35.2047C28.5109 36.5306 26.9011 39.0722 26.9011 41.9898C26.9011 46.2765 30.3762 49.7516 34.6629 49.7516C35.4673 49.7516 36.2432 49.6292 36.9729 49.402C38.937 48.7906 41.3127 48.7906 43.2768 49.402C44.0065 49.6292 44.7824 49.7516 45.5868 49.7516C49.8735 49.7516 53.3486 46.2765 53.3486 41.9898C53.3486 39.321 52.0016 36.9668 49.9505 35.5699Z'/%3E%3C/mask%3E%3Cpath d='M36.9729 49.402L36.527 47.9698L36.9729 49.402ZM43.2768 49.402L43.7227 47.9698L43.2768 49.402ZM30.8907 35.2047L30.1607 33.8944L30.8907 35.2047ZM49.9505 35.5699L49.1061 36.8097L49.9505 35.5699ZM40.4122 25.9541C43.8705 25.9541 46.674 28.7576 46.674 32.2159H49.674C49.674 27.1007 45.5273 22.9541 40.4122 22.9541V25.9541ZM34.1505 32.2159C34.1505 28.7576 36.9539 25.9541 40.4122 25.9541V22.9541C35.2971 22.9541 31.1505 27.1007 31.1505 32.2159H34.1505ZM28.4011 41.9898C28.4011 39.638 29.697 37.5869 31.6208 36.5151L30.1607 33.8944C27.3248 35.4743 25.4011 38.5064 25.4011 41.9898H28.4011ZM34.6629 48.2516C31.2046 48.2516 28.4011 45.4481 28.4011 41.9898H25.4011C25.4011 47.1049 29.5477 51.2516 34.6629 51.2516V48.2516ZM36.527 47.9698C35.94 48.1526 35.3144 48.2516 34.6629 48.2516V51.2516C35.6202 51.2516 36.5463 51.1058 37.4187 50.8342L36.527 47.9698ZM45.5868 48.2516C44.9353 48.2516 44.3097 48.1526 43.7227 47.9698L42.831 50.8342C43.7033 51.1058 44.6295 51.2516 45.5868 51.2516V48.2516ZM51.8486 41.9898C51.8486 45.4481 49.0451 48.2516 45.5868 48.2516V51.2516C50.7019 51.2516 54.8486 47.1049 54.8486 41.9898H51.8486ZM49.1061 36.8097C50.7646 37.9392 51.8486 39.8382 51.8486 41.9898H54.8486C54.8486 38.8039 53.2386 35.9944 50.7948 34.3301L49.1061 36.8097ZM37.4187 50.8342C39.0925 50.3132 41.1572 50.3132 42.831 50.8342L43.7227 47.9698C41.4682 47.268 38.7815 47.268 36.527 47.9698L37.4187 50.8342ZM31.1505 32.2159C31.1505 32.8746 30.7412 33.571 30.1607 33.8944L31.6208 36.5151C33.1469 35.6648 34.1505 33.9685 34.1505 32.2159H31.1505ZM46.674 32.2159C46.674 34.0194 47.6189 35.7968 49.1061 36.8097L50.7948 34.3301C50.1245 33.8736 49.674 33.0227 49.674 32.2159H46.674Z' fill='black' mask='url(%23path-3-inside-1)'/%3E%3Crect x='38.0975' y='43.2565' width='4.05459' height='13.7751' rx='2.0273' fill='%23C4C4C4' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E");
        width: vw(131.2);
        height: vw(252.8);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: vw(1072);
        top: vw(160);
    }
}